body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
    text-align: center;
}

header {
    background-color: #222;
    color: white;
    padding: 30px;
}

header h1 {
    margin: 0;
}

.contenedor-autos {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

.auto {
    background-color: white;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px #aaa;
}

.auto img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.auto h2 {
    color: #222;
}

.auto p {
    color: #555;
}

.auto ul {
    text-align: left;
    line-height: 1.8;
}

button {
    background-color: #222;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #222;
    color: white;
    padding: 15px;
}
